# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js, ts}]
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 120
ij_typescript_import_sort_module_name = true
ij_typescript_import_sort_members = true

# Matches the exact files either package.json or .travis.yml
[*.{json, yml}]
indent_style = space
indent_size = 2
